# Image Processing
opencv-python-headless
numpy
Pillow

# OCR
pytesseract

# Web App
fastapi
uvicorn
python-multipart
sqlalchemy

# AI Correction
--extra-index-url https://download.pytorch.org/whl/cpu
transformers
torch
